project_name = "medibook"
environment  = "dev"
owner        = "intern"

aws_region = "ap-south-1"
vpc_cidr   = "10.10.0.0/16"

public_subnet_cidrs = {
  subnet_a = {
    cidr = "10.10.1.0/24"
    az   = "ap-south-1a"
  }
  subnet_b = {
    cidr = "10.10.2.0/24"
    az   = "ap-south-1b"
  }
}

instance_subnet_key = "subnet_a"
ami_id              = "ami-0f58b397bc5c1f2e8"
instance_type       = "t3.micro"
key_name            = "replace-with-your-keypair"

allowed_ssh_cidrs = [
  "0.0.0.0/0"
]
